body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color:white;
    text-align: left;
    background-color:brown;
   
}
*, ::after, ::before {
    box-sizing: border-box;
}
.mt-5, .my-5 {
    margin-top: 3rem !important;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
div {
    display: block;
    unicode-bidi: isolate;
}
.form-container {
    animation: fadeIn 2s;
}
.p-4 {
    padding: 1.5rem !important;
}
.rounded {
    border-radius: .25rem !important;
}
.border {
    border: 1px solid #dee2e6 !important;
}
.mb-4, .my-4 {
    text-align: center;
    margin-bottom: 1.5rem !important;
}
h2 {
    font-size: 2rem;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}
h2 {
    font-size: 2rem;
}
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}
form {
    display: block;
    margin-top: 0em;
    unicode-bidi: isolate;
}
.form-group {
    margin-bottom: 1rem;
}
div {
    display: block;
    unicode-bidi: isolate;
}
label {
    display: inline-block;
    margin-bottom: .5rem;
}
label {
    cursor: default;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
input[type="text" i] {
    padding-block: 1px;
    padding-inline: 2px;
}
label {
    cursor: default;
}
label {
    display: inline-block;
    margin-bottom: .5rem;
}
input {
    overflow: visible;
}

input[type="email" i] {
    padding-block: 1px;
    padding-inline: 2px;
}
option {
    font-weight: normal;
    display: block;
    min-height: 1.2em;
    padding: 0px 2px 1px;
    white-space: nowrap;
}
select {
    word-wrap: normal;
}
button, select {
    text-transform: none;
}
.hidden {
    display: none;
}
.form-control-file, .form-control-range {
    display: block;
    width: 100%;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
textarea.form-control {
    height: auto;
}
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    overflow: auto;
    resize: vertical;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
.btn {
    display: inline-block;
    font-weight: 400;
    color:white;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

/* -------for mobile phones------*/

@media (min-width:576px){
    .container{
        max-width: 540px;
    }
}
.container{
   width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/* -------for Tab------*/

@media (min-width:768px){
    .container{
        max-width: 720px;
    }
}
.container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
/* -------for LAPTOP------*/

@media (min-width:992px){
    .container{
        max-width: 960px;
    }
}
.container{
   width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}















.form-container {
    animation: fadeIn 2s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.hidden {
    display: none;
}
